/*GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=Poppins:wght@200;400;500;700&display=swap');

/*TAILWIND DIRECTIVES*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*GLOBAL SETTING*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*MAIN CONTAINER*/
.main-container {
  @apply min-h-screen;
}

.sub-container {
  @apply max-w-screen-lg m-auto
}

/* ATENEO SPOTLIGHT */
.ateneo-spotlight-container-body {
  @apply my-10 grid gap-10 grid-cols-1 md:grid-cols-3;
}

.ateneo-spotlight-item {
  @apply text-center;
}

.more-button{
  @apply flex justify-center;
}
